@import url('https://fonts.cdnfonts.com/css/simpsonfont');

                
body, html {
    min-height: 100vh;
    height: 100vh;
    background-size: cover;
    font-family: 'Simpsonfont', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
body#index {
    background-color:#17C7F0!important;
    background: url(../img/3.jpg) no-repeat center center fixed;
    background-size: contain;
}

body#game {
    background: url(../img/11.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#profile {
    background: url(../img/1.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#login {
    background: url(../img/9.jpg) no-repeat center center fixed;
    background-size: cover;
}

body#register {
    background: url(../img/6.jpg) no-repeat center center fixed;
    background-size: cover;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Simpsonfont', sans-serif;
    text-align: center;
    color: #007BA7!important;
}

main.index {
    width: 60%;
}
main.game  {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
main.profile {
    height:60%;
    width: 60%;
    background:url(../img/7.jpg) no-repeat left center fixed;
    background-size: 100%;
    border-radius: 100px;
}

.loginform {
    background: #FFD71D!important;
    border: #FFD71D!important;
    padding: 2rem;
}

.info {
    background: #138496;
}

h1 {
    font-family: 'Simpsonfont', sans-serif;
    text-align: center;
    font-family: "Arial";
    padding: 2rem 0 3rem 0;
}

a {
    font-family: 'Simpsonfont', sans-serif;
    text-decoration: none;
    color: #007BA7!important;
}

.level {
    width: 100px;
    height: 100px;
    border-radius: 5px;

}

button.logout {
    color: #fff!important;
    font-family: 'Simpsonfont', sans-serif!important;
    background: transparent!important;
}
.btn-info {
    background: #FFD71D!important;
    border: #FFD71D!important;
    margin: 1rem!important;
}
.centernav {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.form_global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.cards_form {
    text-align: center;
    width: 100%;
    display: flex!important;
    flex-flow: row wrap!important;
}
.btn {
    justify-content: space-between!important;
}

.btn-back img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 2rem;
    top: 1rem;

}

button {
    border-color: #fff!important;
    border-width:none!important;
    margin: 1rem!important;
    justify-content: space-between!important;
}

.player-name {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

section.content {
    display: flex;
    background-size: cover;
    width: 80%!important;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.content a, .content button {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    text-decoration: none!important;
}

nav {
    display: flex;
    background: transparent;
    color: #fff;
    padding: 5px;
    margin: 0.5rem;
    border-radius: 50px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

nav link {
    list-style-type: none;

}
.card {
/*     height: 100px;
    width: 100px; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 1rem;
    text-align: center;
}
.board {
    width: 75%;
    margin: auto;
    background-size: cover;
    height: 75vh;
}
.board .card {
    width: 133px;
    height: 200px;
    background-size: cover;
    margin: 10px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.victory {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.9);
}

@keyframes victory {
    0% {
        height: 100px;
    }
    100% {
        height: 800px;
    }
}

.victory_anim {
    height: 800px;
    animation: victory 1.5s;
}

.submit_btn {
    margin-top: 1rem;
    font-family: "Ma Super Fonte";
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 10.7rem;
    height: 3.5rem;
    background-image: url(../assets/img/boutton.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    text-align-last: center;
}

.footer {
    color: #fff;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 20%; /* Width of each card */
    margin: 1%; /* Margin around each card */
}

/* For screen width less than 576px */
@media screen and (max-width: 576px) {
    .card {
        width: 50%;
    }
}

/* For screen width between 576px and 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .card {
        width: 25%;
    }
}





